# server configuration
HOST=localhost
PORT=5000

# node-postgres configuration
PGUSER=postgres
PGHOST=localhost
PGPASSWORD=
PGDATABASE=
PGPORT=5432

# JWT configuration
# JWT token
ACCESS_TOKEN_KEY=
# Refresh token
REFRESH_TOKEN_KEY=
ACCESS_TOKEN_AGE=

# aws-sdk
AWS_ACCESS_KEY_ID=<Access Key Id Anda>
AWS_SECRET_ACCESS_KEY=<Secret Access Key Anda>
AWS_BUCKET_NAME=<Bucket Name Anda>

# Redis
REDIS_SERVER=localhost
